* {

  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 400;

}
/* user panel */
#header {

background-color: white;
width: 100%;
height: 2rem;
box-shadow: 0.2px 0.2px 2px black;
padding-top: 0.5rem;
z-index: 5;
position: relative;


}

#logoimg {

  width: 2%;
  height: 2%;

}

#header h3, #header h4 {

display: inline;


}

#header h3 {

padding-left: 0.5rem;
float: left;
font-weight: 500;
}

#header h4 {

padding-right: 2.25rem;
float: right;
font-weight: 500;
}

#header a:hover{

color: rgb(232,96,83);

}

.topLinks {

  text-decoration: none;
  color: inherit;

}

#bgImg {

position: fixed;
z-index: -2;

}

.tint {
  position: fixed;
  float: left;
  z-index: 2;
}

.tint:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(232,96,83, 1);
  z-index: 0;
}

#logoSec {
z-index: 5;


}

#logo {
    margin-top: -30px;
    margin-left: 10%;
    position: relative;
    z-index: 4;
    width: 5%;
    height: 5%;
}

#bodySec {

z-index: 5;
position: relative;

}

#buttonSec {
  margin-top: 5%;
  width: 50%;
  margin-left: 35%;
}

/* Set a style for all buttons */
button {
    background-color: white;
    color: rgb(232,96,83);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-weight: bold;
    border-radius: 25px;
    font-size: 16px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.9;

}

#dbtn {

  margin-right: 3%;

}

#textSec {

color: white;
font-weight: 400;
width: 100%;
margin-left: 13%;

}


.aboutPiece {

  vertical-align: top;
  width: 22%;
  height: 20%;
  margin-top: 7rem;
  margin-left: 3%;
  font-size: 80%;
  display: inline-block;
  text-align: center;
}

.container {
    position: relative;
    left: 15%;
    padding: 0rem;
    width: 70%;
    background-color: rgba(256, 256, 256, 0.98);
    margin-top: 2%;
    z-index: 5;
    border-radius: 35px;
    text-align: center;

}


.container2 {
    position: relative;
    left: 15%;
    padding: 6rem;
    width: 70%;
    background-color: rgba(256, 256, 256, 0.98);
    margin-top: 1%;
    margin-bottom: 40%;
    z-index: 5;
    border-radius: 35px;
   text-align: center;
}

.container3 {
    position: relative;
    left: 15%;
    padding: 6rem;
    width: 70%;
    height: 20%;
    background-color: rgba(256, 256, 256, 0.98);
    margin-top: -37%;
    margin-bottom: 40%;
    z-index: 5;
    border-radius: 35px;
   text-align: center;
}

.container4 {
    position: relative;
    left: 15%;
    padding: 10rem;
    width: 70%;
    height: 20%;
    background-color: rgba(256, 256, 256, 0.98);
    margin-top: -37%;
    margin-bottom: 40%;
    z-index: 5;
    border-radius: 35px;
   text-align: center;
}

.container, .container2, .container3, .container4 h1 {

color: rgb(232,96,83);
padding-left: 250px
text-align: center;


}



.container h2 , .container h3 , .container h4 , .container h5 , .container h6, .container p {

padding-left: 10px;

}

#proBox {

margin-top: 10rem;
text-align: center;
z-index: 5;
position:relative;

}

hr {
  color: black;
  border:2px;

}

a {

  color: inherit;
  text-decoration: none;

}

a:hover {

  color: rgb(232,96,83);

}

.settinglinks {


  margin-top: 8px;
  margin-bottom: 8px;

}

a.settinglinks {

font-weight: 400;

}






@import "//fonts.googleapis.com/css?family=Lato";
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  /*background: #ddd;*/
  margin: 0;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

#q-cont {
  width: 420%;
  height: 500px;
  position: absolute;
  top: 50%;
  left: -680px;

  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  transition: 0.50s 500ms;
}

.slide {
  height: 100%;
  width: 25%;
  padding: 30px;
  display: inline-block;
  vertical-align: top;

}

.question {
  width: 100%;
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

.question:before {
  content: "Q. ";
}

.options {
  width: 350px;
  margin: 0 auto 30px;
}

.op, .re {
  margin-top: 20px;
  display: inline-block;
  line-height: 3em;
  text-align: center;
  background: rgb(232,96,83);
  border-radius: 20px;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}

.op {
  width: 45%;
  /*margin: 5px 20px 20px;*/
  vertical-align: top;



}

.re {
  font-size:0.5em;
  width: 200px;
  display: inline-block;
  margin: 10px auto;
}

.op2{
    float: none;
}

.op3{
  float: none;
}

#slide4 {
  text-align: center;
  padding-top: 30px;
  font-size: 3em;
}
